// action, news
.action-single {
	.date,
	.item-img {
		margin-top: $gutter-width*1.5;
		margin-bottom: $gutter-width*1.5;
	}
	.item-text {
		margin-top: $gutter-width*2;
		margin-bottom: $gutter-width*4;
	}
	.product-list {
		margin-top: $gutter-width*4;
		margin-bottom: $gutter-width*4;
	}
}
.action-single.test-drive {
	.product-list {
		margin-top: $gutter-width*1.5;
		margin-bottom: $gutter-width*2;
	}
}
