// basket 
.basket-table {
	.product-item {
		>.col {
			padding-top: $gutter-width*1.5;
			padding-bottom: $gutter-width*1.5;
		}
		.product-img {
			text-align: center;
			img {
				max-height: 110px;
			}
		}
	}
}
.basket-table .sum,
.total-sum-box .sum {
	font-size: 22px;
}
.page-title-basket {
	margin-top: $gutter-width/2;
	margin-bottom: $gutter-width*0.75;
	.btn-clear-basket {
		margin-top: $gutter-width*2.25;
	}
}

// checkout
.btn-checkout {
	margin-bottom: 90px;
}
.checkout-page {
	.page-title {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.page-note-text {
		margin-top: 0;
		margin-bottom: $gutter-width*1.5;
	}
	.base-card {
		margin-bottom: 38px;
	}
	.delivery-address,
	.table-field.delivery-address{
		margin-top: $gutter-width;
		margin-bottom: 0;
		.label {
			vertical-align: top;
			margin-top: 7px;
		}
		.select-box,
		.dropdown-box,
		.addr-actions,
		.second-field {
			width: 66%;
			width: calc(70% - 20px);
		}
		.addr-actions{
			margin-top: 8px;
			a {
				margin-right: 12.5%;
			}
		}
	}
	.mrg {
		margin-top: 2em;
	}
	.total-sum-box {
		.title {
			margin-bottom: 0;
		}
		table {
			margin-bottom: 25px;
		}
		table td  {
			padding: 5px 0;
		}
	}
}