// brands
.brand-box .brand-list {
	@extend ul.nostyle;
	@extend ul.horizontal;
	font-size: 0;
	.brand-item {
		padding: 22px 35px 23px 20px;
		//width: 12.2%;
		font-size: 34px;
		line-height: 1;
		text-align: center;
		vertical-align: middle;
		&:last-child {
			padding: 22px 20px 23px 35px;
		}
	}
	.brand-link {
		height: 1em;
		overflow: hidden;
		display: block;
	}
	.brand-img {
		will-change: transform;
		transform: translate(0,0) translateZ(0);
	}
	.brand-link:hover .brand-img {
		transform: translate(0,-1em) translateZ(0);
	}
	.brand-item:last-child .brand-link {
		font-size: $base-size;
		height: 1rem;
		line-height: 1rem;
		vertical-align: middle;
	}
}

// brands-page
.brands-page {
	.brands-list {
		margin: $gutter-width/4 0 $gutter-width*2;
	}
	.brands-box {
		padding: $gutter-width*1.25 0 $gutter-width;
		border-top: 1px solid color('border', 'table-border');
		&:first-child {
			border-top: 0;
		}
		.letter-marker {
			font-size: 40px;
			@extend .light;
			line-height: 1;
			text-transform: uppercase;
			color: color('text', 'dark');
		}
		.brands {
			margin-top: 1em;
		}
		.brand-item {
			margin-bottom: 7px;
			@extend .medium-text;
		}
	}
}
.brand-page-single {
	.brand-logo {
		margin-top: $gutter-width;
	}
	.brand-info {
		margin-bottom: $gutter-width*2.5;
	}
	.catalog {
		margin-bottom: $gutter-width*5;
	}
}