// modal 
.modal {
	z-index: 9999;
	background: #fff;
	//display: none;
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: opacity .3s ease;
	&.open {
		z-index: 9998;
		opacity: 1;
	}
	.btn-close {
		position: absolute;
		z-index: 999;
	}
	.modal-title,
	.modal-text {
		@extend .light;
	}
	.modal-title {
		margin-bottom: $gutter-width;
	}
	.modal-text {
		margin-bottom: 1.5em;
	}
	.modal-title + .btn {
		margin-top: $gutter-width*2;
	}
	&.small-modal {
		width: 92%;
		left: 4%;
		top: 20%;
		.btn-close {
			top: $gutter-width;
			right: $gutter-width;
			margin-top: 0;
		}
		.modal-inner {
			padding: $gutter-width*2;
		}
		.modal-title {
			font-size: 20px;
		}
		@media #{$medium-and-up}{
			max-width: 570px;
			left: 50%;
			margin-left: - 285px;
			.modal-title {
				font-size: 24px;
			}
		}
		@media #{$large-and-up}{
			.modal-inner {
				padding: $gutter-width*7.5 $gutter-width*7.5 $gutter-width*5;
			}
			.btn-close {
				top: $gutter-width*3;
				right: $gutter-width*3;
			}
			.modal-title + .btn {
				margin-top: $gutter-width*4;
			}
		}
	}
	&.big-modal {
		width: 92%;
		left: 4%;
		top: 150px;
		.btn-close {
			top: $gutter-width;
			right: $gutter-width;
			margin-top: 0;
		}
		.modal-inner {
			padding: $gutter-width*2 $gutter-width;
		}
		.modal-title {
			font-size: 20px;
		}
		[class*='-form-box'] {
			margin: 0;
		}
		@media #{$small-and-down}{
			.row {
				margin-left: -5px;
			}
		}
		@media #{$medium-and-up}{
			.modal-title {
				font-size: 24px;
			}
		}
		@media only screen and (min-width: #{$large-screen}){
			max-width: 1130px;
			left: 50%;
			margin-left: - 565px;
			.modal-inner {
				padding: $gutter-width*4 0 $gutter-width*5;
			}
			.btn-close {
				top: $gutter-width*4;
				right: $gutter-width*10;
			}
		}
	}
}
.modal-dark-bg.open {
	z-index: 9998;
}