// order
.order-info-item {
	margin: 1em 0 2em;
	&:last-child {
		margin-bottom: 1em;
	}
}
.prod-item p,
.prod-list + .card-footer p {
	margin: $gutter-width/2 0;
}
.profile-page .prod-item {
	margin-bottom: $gutter-width*1.5;
	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}