// page-aside
.page-aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9998;
	will-change: transform;
	transform: translateX(-100%) translateZ(0);
	transition: transform .3s ease;
	@media #{$medium-and-up}{
		width: 50%;
		max-width: 410px;
	}
	&.open {
		transform: translateX(0)
	}
	.page-aside-inner {
		height: 100%;
		padding: $gutter-width*2 15.6%;
		overflow-y: auto;
		@media #{$medium-and-up}{
			padding: $gutter-width*3 20%;
		}
		@media #{$large-and-up}{
			padding: $gutter-width*10 $gutter-width*3  $gutter-width*3  $gutter-width*10;
		}
	}
	.btn-close-menu {
		position: fixed;
		top: $gutter-width*2;
		left: $gutter-width*0.5;
		width: $gutter-width*3;
		height: $gutter-width*3;
		padding: $gutter-width*0.5;
		will-change: transform;
		transform: rotate(0) translateZ(0);
		transition: transform .3s ease;
		z-index: 9999;
		@media #{$medium-and-up}{
			top: $gutter-width*3;
			left: $gutter-width*2.5;
		}
		.icon {
			width: 100%;
			height: 100%;
			fill: color('primary', 'base');
		}
		&:hover {
			transform: rotate(90deg)
		}
	}
	.phone-box {
		font-size: $big-text;
		text-align: center;
		padding-top: $gutter-width/2;
		a {
			color: color('text', 'base');
		}
	}
	.btn-box {
		margin-top: $gutter-width*2;
		margin-bottom: $gutter-width;
	}
}
.dark-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: rgba(0,0,0,.6);
	opacity: 0;
	will-change: opacity;
	transform: translateZ(0);
	transition: opacity .3s ease;
	&.open {
		opacity: 1;
		z-index: 9990;
	}
}