// social
.soc-list {
	.icon {
		fill: color('text', 'input');
	}
	.soc-item {
		width: $gutter-width*2.5;
		margin: 0 $gutter-width;
		height: 1.5em;
	}
	.soc-link {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 $gutter-width*0.5;
		&:hover .icon {
			fill: color('primary', 'base');
		}
	}
}