// start 
.start-box {
	left: 0;
	width: 100%;
	height: 410px;
	background: url('images/content/start.jpg') bottom left 65% no-repeat;
	background-size: auto 120%;
	color: #fff;
	margin-bottom: $gutter-width*5;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.5);
	}
	@media #{$medium-and-up}{
		height: 560px;
	}
	@media #{$large-and-up}{
		background-size: cover;
		margin-bottom: $gutter-width*6;
	}
	.icon {
		fill: #fff;
		height: 100%;
	}
	.content {
		padding-top: $gutter-width*12;
		@media #{$large-and-up}{
			padding-top: $gutter-width*16;
		}
	}
	.down-icon {
		width: 50px;
		height: 50px;
		padding: 14px;
		border: 1px solid #fff;
		margin-top: 185px;
		border-radius: 50%;
		.icon {
			width: 100%;
			height: 100%;
			transform: rotate(90deg);
		}
	}
	.logo {
		height: 90px;
		@media #{$large-and-up}{
			height: 140px;
		}
	}
	.page-title {
		margin-top: $gutter-width;
	}
}
.home-page .start-box {
	height: 480px;
	background: url('images/content/start.jpg') top left 65% no-repeat;
	background-size: auto 120%;
	color: #fff;
	&:before {
		background: rgba(0,0,0,.3);
	}
	.content {
		padding-top: 230px;
	}
	.title {
		@extend .light;
		margin-bottom: $gutter-width*4;
	}
	@media #{$medium-and-up}{
		height: 660px;
		background-position: top center;
		background-size: auto 100%;
		.content {
			padding-top: 365px;
			font-size: $big-text;
		}
	}
	@media #{$large-and-up}{
		height: 695px;
		background-size: cover;
		.content {
			padding-top: 390px;
		}
	}
}
.case .start-box {
	height: 410px;
	@media #{$medium-and-up}{
		height: 560px;
		.content {
			padding-top: $gutter-width*16;
		}
	}
	.page-title {
		text-transform: uppercase;
	}
}