.btn {
	display: inline-block;
	position: relative;
	border: 2px solid transparent;
	font-family: inherit;
	font-size: 12px;
	@extend .medium;
	line-height: 46px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 0 $gutter-width*2;
	transition: color .3s ease, background .3s ease, border-color .3s ease;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	&:active,
	&:focus {
		outline: none;
	}
	
	&.standart {
		background: transparent;
		color: #fff;
		border-color: #fff;
	}
	
	&.primary {
		background: color('primary', 'base');
		border-color: color('primary', 'base');
		color: white;
		.icon {
			fill: white;
		}
		&:hover {
			background: color('primary', 'dark');
			border-color: color('primary', 'dark');
		}
	}
	
	&.standart-color {
		background: transparent;
		color: color('primary', 'base');
		border-color: color('primary', 'base');
		&:hover {
			color: color('primary', 'dark');
			border-color: color('primary', 'dark');
		}
	}
	&.flat {
		background: white;
		border-color: white;
		color: color('text', 'dark');
	}
	
	&.mediumwidth {
		width: 100%;
		@media #{$medium-and-up}{
			width: 165px;
		}
	}
	&.fullwidth {
		width: 100%;
	}
	&.big {
		line-height: 48px;
		height: 50px;
	}
	&.small {
		width: 60px;
	}
	&.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&.btn-icon {
		background: transparent;
		line-height: 100%;
		border: 0;
		padding: 2px;
		&.primary {
			background: color('primary', 'base');
		}
	}
	&.btn-with-icon {
		.icon {
			display: inline-block;
			width: 25px;
			height: 100%;
			line-height: 100%;
			margin-right: $gutter-width;
		}
	}
}

.icon {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.btn-menu,
.btn-menu.btn-icon {
	padding: 0;
	height: 21px;
	.icon {
		width: 25px;
		height: 16px;
		margin-top: 2px;
	}
	.btn-text {
		margin-left: $gutter-width*1.5;
		font-size: $small-text;
		line-height: 1.5;
		@media only screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen}){
			display: none;
		}
	}
}
.btn-more {
	margin-top: $gutter-width/2;	
}
.btn-close {
	width: 17px;
	height: 17px;
	will-change: transform;
	transform: rotate(0deg);
	transition: transform .3s ease;	
	.icon {
		fill: color('primary', 'base');
	}
	&:hover {
		transform: rotate(90deg);
	}
}
.btn-delete-from-card {
	width: 17px;
	height: 17px;
	.icon {
		fill: color('text', 'light');
	}
	&:hover .icon {
		fill: color('primary', 'base');
	}
}
.btn-link {
	background: none;
	border: 0;
	padding: 0;
	@extend a;
}