// fields
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
.inputtext,
textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid color('border', 'table-border');
	padding: 14px 18px;
	font-family: inherit;
	@extend .small-text;
	line-height: 20px;
	color: color('text', 'input');
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	& + .textfield-placeholder {
		@extend .small-text;
		@extend .light;
		line-height: 20px;
		color: color('text', 'input');
		position: absolute;
		top: $gutter-width*1.7;
		left: 18px;
		cursor: text;
		opacity: 1;
		will-change: opacity, transform;
		transform: translate(0,0);
		transition: transform .1s, opacity .1s;
		&:focus {
			outline: none;
		}
	}
	&[required] {
		background-position: right 19px center;
		background-repeat: no-repeat;
	}
	&[required] + .textfield-placeholder:after {
		content: '*';
		color: color('primary','base');
	}
	
	&.inputtext-small {
		max-width: 100px;
		font-size: $base-size;
		line-height: 1em;
		padding: 7px 15px;
		height: 30px;
		border-radius: $small-border-radius;
		& + .textfield-placeholder {
			font-size: $base-size;
			line-height: 1em;
			top: 9px;
		}
	}
	
	&:focus {
		border-color: color('border', 'dark');
		outline: none;
	}
	&.dirty + .textfield-placeholder {
		//display: none;
		opacity: 0;
		transform: translate(50px,0);
	}
	&[class*='invalid-']{
		border-color: color('border', 'error');
		background-image: url('images/error-cross.png');
	}
	&.invalid-required ~ .error-required,
	&.invalid-pattern ~ .error-pattern {
		height: 1.5em;
	}
	&.dirty:not([class*='invalid-']){
		background-image: url('images/success-tick.png');
		border-color: color('border', 'success');
	}
}
.error-text {
	display: block;
	@extend .light;
	height: 0;
	overflow: hidden;
	margin-top: 3px;
	margin-left: $gutter-width*1.5;
	font-size: 12px;
	color: color('primary', 'base');
	transition: height .3s ease;
}
textarea {
	max-width: 100%;
	min-height: 190px;
	&[required] {
		background-position: right 19px top 19px;
	}
}

// checkbox
input[type="checkbox"] {
	display: none;
	& + .checkbox-lbl {
		line-height: 17px;
		vertical-align: middle;
		cursor: pointer;
		&:before {
			content: '';
			display: inline-block;
			width: 19px;
			height: 19px;
			border: 1px solid color('border', 'base');
			border-radius: $small-border-radius;
			margin-right: 8px;
			background-color: white;
			vertical-align: bottom;
		}
	}
	&:checked + .checkbox-lbl:before {
		background: white url('images/tick.png') center no-repeat;
	}
}

// radio
input[type="radio"] {
	display: none;
	& + .radio-lbl {
		display: inline-block;
		margin: 3px 0;
		line-height: 19px;
		vertical-align: middle;
		cursor: pointer;
		&:before {
			content: '';
			display: inline-block;
			width: 19px;
			height: 19px;
			border: 1px solid color('border', 'base');
			border-radius: $circle-border-radius;
			margin-right: 1em;
			background-color: white;
			padding: 4px;
			box-sizing: border-box;
			background-clip: content-box;
			vertical-align: top;
		}
	}
	&:checked + .radio-lbl:before {
		background-color: color('primary', 'base');
	}
}

.inline-field {
	vertical-align: baseline;
	margin: 1em 0;
	.label,
	.first-field {
		display: inline-block;
		margin-right: $gutter-width*1.25;
	}
	>input:not(.dropdown-inp),
	select,
	.select-box,
	.dropdown-box,
	.field,
	.second-field{
		display: inline-block;
		width: auto;
	}
	.field input,
	.second-field input{
		width: 100%;
	}
}
.table-field {
	@extend .inline-field;
	@extend .clearfix;
	display: flex;
	flex-direction: row;
	align-items: center;
	.label,
	.first-field{
		width: 31%;
		margin-right: 10px;
	}
	>input,
	.field,
	.first-field + .second-field{
		width: 66%;
		width: calc(69% - 15px);
		margin: 3px 0;
		&[type="tel"] {
			width: 33%;
		}
		[type="tel"] {
			width: 66%;
		}
	}
	.second-field {
		float: right;
		width: 66%;
		width: calc(69% - 10px);
	}
	&.cols-2 > input,
	&.cols-2 > .field,
	.cols-2 .btn {
		width: calc((70% - 40px)/2);
		margin: 3px 7px;
		input {
			width: 100%;
		}
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	&.cols-3 > input,
	&.cols-3 > .field {
		width: calc((70% - 60px)/3);
		margin: 3px 5px;
		input {
			width: 100%;
		}
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	&.top-tf {
		display: flex;
		align-items: flex-start;
		.label,
		.first-field {
			margin-top: 13px;
		}
		>input,
		.field,
		.second-field {
			width: 66%;
			width: calc(69% - 10px);
		}
	}
	&.action-box {
		margin-top: $gutter-width/2;
		justify-content: flex-end;
	}
	&.action-box .cols-2 .btn {
		width: calc((100% - 40px)/2);
		margin: 0;
		&:first-child {
			margin-right: 35px;
		}
	}
}

// select
select {
	box-sizing: border-box;
	border: 1px solid color('border', 'light');
	padding: 0 5px;
	font-family: inherit;
	line-height: 43px;
	height: 45px;
	vertical-align: baseline;
	cursor: pointer;
	width: 100%;
	option {
		max-width: 100%;
		color: color('text', 'base');
	}
}
.select-box select {
	width: 100%;
}
.triangle {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 30px;
	height: 43px;
	background: #fff;
	font-size: 15px;
	border-radius: $small-border-radius;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 18px;
		right: 7px;
		width: 0;
		height: 0;
		border-top: 8px solid color('border','darkest');
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
}

.field {
	margin-bottom: $gutter-width*2;
}

// order-form
.order-form-box,
.consult-form-box {
	margin: $gutter-width*3.5 0 $gutter-width*5;
	@media #{$large-and-up}{
		margin-top: $gutter-width*5;
		.col.l5:nth-child(odd) {
			padding-right: $gutter-width*1.5;
		}
		.col.l5:nth-child(even) {
			padding-left: $gutter-width*1.5;
		}
	}
	.btn {
		margin-top: $gutter-width;
	}
}
// price-form
.price-form-box {
	padding: $gutter-width*3.5 0 $gutter-width*5;
	.field {
		margin-bottom: $gutter-width*3;
		@media #{$medium-and-up}{
			margin-bottom: 0;
			margin-right: 18px;
		}
		@media #{$large-and-up}{
			margin-right: 5px;
		}
		input {
			border-color: color('border', 'base');
		}
	}
}