// Pagination
.pagination {
	margin: $gutter-width*1.5 auto $gutter-width*2.75;
}
.pagin-list {
	@extend ul.nostyle;
	text-align: center;
	font-size: 0;
	.item-page {
		display: inline-block;
		text-align: center;
		margin: 0 $gutter-width;
		.pagin-link {
			display: block;
			width: 1.5em;
			height: 1rem;
			font-size: 12px;
			line-height: 1rem;
			vertical-align: middle;
			color: color('text', 'base');
		}

		&.disabled a {
			cursor: default;
			color: color('text','input');
		}
		&.active a { 
			color: color('primary','base'); 
			font-size: 1rem;
			@extend .bold;
		}

		i {
			font-size: 2rem;
		}
		
	}
	
	.prev-page,
	.next-page {
		display: inline-block;
		vertical-align: top;
		margin: 0 $gutter-width;
		width: 20px;
		height: 20px;
		.pagin-link {
			display: block;
			padding: 5px;
			height: 100%;
		}
		.icon {
			fill: color('text','base');
			width: 100%;
			height: 100%;
		}
		.disabled {
			cursor: default;
			.icon {
				fill: #ececec;
			}
		}
	}
	.prev-page .icon {
		transform: rotate(180deg);
	}
	.prev-page {
		margin-left: 0;
	}
	.next-page {
		margin-right: 0;
	}

}
