// rating
.rating {
	height: 15px;
	margin: $gutter-width*0.4 0 17px;
	.star {
		width: 14px;
		height: 100%;
		fill: color('icons','lighter');
	}
	@for $i from 1 through 5 {
		&.rate-#{$i}{
			@for $c from 1 through $i {
				.star:nth-child(#{$c}){
					fill: color("primary", "base");
				}
			}
		}
	}
}
.rating-field {
	.rating {
		height: 25px;
	}
	.star {
		width: 25px;
		height: 25px;
		margin-right: 5px;
		fill: color('text', 'dark');
		cursor: pointer;
	}
}