// sort
.sort-box {
	margin: 0 0 $gutter-width*1.25;
	.sort-item {
		margin: 0 $gutter-width/2;
		color: color('primary', 'base');
		cursor: pointer;
	}
	.sort-ctrl:checked + .sort-item {
		color: color('text', 'base');
		cursor: default;
	}
}