// tooltips 
.tooltip {
	position: absolute;
	z-index: -999;
	opacity: 0;
	background: white;
	border: 1px solid color('border', 'light');
	@extend .z-depth-2;
	padding: $gutter-width $gutter-width*2.25 $gutter-width*1.25 $gutter-width*0.75;
	&.show {
		opacity: 1;
		z-index: 999;
	}
	.btn-close {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.tooltip-tngl {
		width: 25px;
		height: 16px;
		position: absolute;
		background: url('images/tooltip-tngl.png') center no-repeat;
		// default - top-left position
		bottom: -16px;
		left: 30px;
		transform: rotate(180deg);
	}
	&[data-position^="top-"] .tooltip-tngl {
		top: auto;
		bottom: -16px;
	}
	&[data-position^="bottom-"] .tooltip-tngl {
		top: -16px;
		transform: rotate(0deg);
	}
	&[data-position^="left-"] .tooltip-tngl {
		left: auto;
		right: -20px;
		transform: rotate(90deg);
	}
	&[data-position^="right-"] .tooltip-tngl {
		left: -20px;
		transform: rotate(-90deg);
	}
	&[data-position$="-center"] .tooltip-tngl {
		left: 50%;
		margin-left: -15px;
	}
	&[data-position$="-left"] .tooltip-tngl {
		left: 30px;
	}
	&[data-position$="-right"] .tooltip-tngl {
		left: auto;
		right: 30px;
	}
	&[data-position$="-top"] .tooltip-tngl {
		top: 30px;
	}
	&[data-position$="-middle"] .tooltip-tngl {
		top: 50%;
		margin-top: -8px;
	}
	&[data-position$="-bottom"] .tooltip-tngl {
		top: auto;
		bottom: 30px;
	}
	.tooltip-content p {
		margin: 0.5em 0;
	}
}