html{
	font-family: roboto, arial, sans-serif;
	line-height: 1.5;
	font-size: $base-size;
	font-weight: normal;
	color: color('text', 'base');
	-webkit-font-smoothing: antialiased;
}
.rouble {
	font-family: rouble, sans-serif;
	font-style: normal;
}
p {
	position: relative;
	margin: 1em 0;
}
// Text Styles
em { 
	font-style: italic; 
}
.uppercase {
	text-transform: uppercase;
}
// wight
.light { 
	font-weight: 300; 
}
strong, .medium { 
	font-weight: 600; 
}
.bold {
	font-weight: 800;
}
.italic {
	font-style: italic;
}
// color
.lighter-color {
	color: color('text', 'lighter');
}	
.light-color {
	color: color('text', 'light');
}
.dark-color {
	color: color('text', 'dark');
}
.darker-color {
	color: color('text', 'darker');
}
// size
small { 
	font-size: 75%; 
}
.small-text {
	font-size: $small-text;
}
.medium-text {
	font-size: 16px;
}
.big-text {
	font-size: $big-text;
}
.xbig-text {
	font-size: $xbig-text;
}
.xxbig-text {
	font-size: 30px;
}
.large-text {
	font-size: $large-text;
}
ul {
	list-style-type: disc;
}
ul, ol {
	padding: 0;
	padding-left: $gutter-width*2.5;
	margin: $gutter-width*2 0;
	li {
		margin: 0.5em 0;
	}
	&.type-2 > li {
		margin: $gutter-width 0;
	}
	&.nostyle {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			padding: 0;
			margin: 0;
		}
	}
	&.horizontal > li {
		display: inline-block;
	}
}

a {
	color: $link-color;
	text-decoration: none;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
	
	&.nostyle {
		color: inherit;
	}
	&.img-link {
		display: block;
		border: 0;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.5;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
//h1 { font-size: $h1-fontsize; line-height: 1.5; margin: 1em 0;}
h2 { font-size: $h2-fontsize; line-height: 1.5; margin: 1em 0;}
h3 { font-size: $h3-fontsize; line-height: 1.5; margin: 1em 0;}
h4 { font-size: $h4-fontsize; line-height: 1.5; margin: 1em 0;}
h5 { font-size: $h5-fontsize; line-height: 1.5; margin: 1em 0;}
h6 { font-size: $h6-fontsize; line-height: 1.5; margin: 1em 0;}

.page-title, h1 {
	@extend .large-text;
	@extend .light;
	margin: $gutter-width*3 0 $gutter-width*2;
	text-align: center;
	line-height: 44px;
	@media #{$medium-and-up}{
		font-size: 39px;
		margin: $gutter-width*5 0 $gutter-width*4;
	}
	@media #{$large-and-up}{
		max-width: 60%;
		margin: $gutter-width*7 auto $gutter-width*4;
	}
}
.page-note-text {
	margin-top: 0;
	margin-bottom: $gutter-width*3;
}
.breadcrumbs + .workarea .page-title {
	margin: $gutter-width/2 0 $gutter-width*0.75;
}
.box-title {
	@extend .light;
	font-size: 34px;
	margin: $gutter-width 0;
	@media #{$medium-and-up}{
		font-size: 39px;
	}
}
.box-note-text {
	@extend .light;
	@extend .small-text;
	margin: $gutter-width*2 auto;
	@media #{$medium-and-up}{
		font-size: $base-size;
		margin: $gutter-width*2 auto $gutter-width*3;
	}
}
.subtitle {
	@extend .light;
	font-size: 24px;
	margin: 1em 0 $gutter-width*0.5;
}
.color-thumbs {
	line-height: $gutter-width*2.5;
	vertical-align: middle;
	img {
		display: inline-block;
		margin: 0 $gutter-width/2;
		vertical-align: bottom;
	}
}

// images
.img-center {
	margin: $gutter-width*2.5 auto $gutter-width*3;
	display: block;
	&.s-fullwidth,
	&.fullwidth {
		margin-left: calc(-1*(100vw - 100%)/2);
	}
}
.img-circle {
	border-radius: 50%;
	border: 1px solid color('border','lighter');
	display: flex;
	justify-content: center;
	align-items: center;
}
@media #{$medium-and-up}{
	.img-center.s-fullwidth {
		margin-left: auto;
		margin-right: auto;
	}
	.img-center.m-fullwidth {
		margin-left: calc(-1*(100vw - 100%)/2);
	}
	.img-left {
		float: left;
		margin-right: $gutter-width*2;
		margin-bottom: $gutter-width*2;
	}
	.img-right {
		float: right;
		margin-left: $gutter-width*2;
		margin-bottom: $gutter-width*2;
	}
	.img-left + p,
	.img-right + p {
		margin-top: 0;
		margin-bottom: $gutter-width*2;
	}
}
@media #{$large-and-up}{
	.img-center.s-fullwidth,
	.img-center.m-fullwidth {
		margin-left: auto;
		margin-right: auto;
	}
	.img-center.l-fullwidth {
		margin-left: calc(-1*(100vw - 100%)/2);
	}
	.img-left {
		margin-right: $gutter-width*3;
		margin-bottom: $gutter-width*5;
	}
	.img-right {
		margin-left: $gutter-width*3;
		margin-bottom: $gutter-width*5;
	}
}